<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Başarıyla kaydoldunuz.</h2>
        <p>Giriş yapabilirsiniz...</p>
        <hr />
        <p>Teşekkür ederiz!</p>
    </div>
</div>