<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Siparişiniz alınmıştır.</h2>
        <p>Siparişiniz siparişlerim sayfasından takip edebilirsiniz.</p>
        <hr />
        <p>Teşekkür ederiz!</p>
    </div>
</div>